<style>
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0px;
  }
</style>
<div class="title">
  User Profile
</div>
<div class="wrapper">
  <div>
    Name: <%= @user.username %>
  </div>
  <div>
    Email: <%= @user.email %>
  </div>
</div>
