<!DOCTYPE html>
<html>
  <head>
    <title>MockTrial</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  </head>

  <body>
    <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #B2DFDB;
        color: #4E342E;
        font-family: 'Roboto Slab', verdana, arial, helvetica, sans-serif;
        font-size: 13px;
        line-height: 18px;
        margin: 0px;
      }

      #app {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    </style>
    <script>
      window.MockTrial = {
        loggedIn: Boolean(<%= @logged_in %>),
      };
    </script>
    <div id='header'></div>
    <div id='app'></div>
    <%= yield %>
    <div id='footer'></div>
    <%= javascript_include_tag *webpack_asset_paths("index", extension: 'js') %>
  </body>
</html>
